<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>INTERNAL_SERVER_ERROR</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Internal server error</string>
		</dict>
	</dict>
	<dict>
		<key>PASSWORD_RESET_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>This password reset request is no longer valid.</string>
		</dict>
	</dict>
	<dict>
		<key>PASSWORD_RESET_REJECTED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>This password reset request is no longer valid.</string>
		</dict>
	</dict>
	<dict>
		<key>PASSWORD_ALREADY_CONFIRMED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>This password has already been confirmed previously.</string>
		</dict>
	</dict>
	<dict>
		<key>PASSWORD_RESET_ATTEMPT_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Invalid password reset attempt.</string>
		</dict>
	</dict>
	<dict>
		<key>DEVICE_DETAILS_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Device details are invalid.</string>
		</dict>
	</dict>
	<dict>
		<key>DEVICE_TOKEN_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Device token is required.</string>
		</dict>
	</dict>
	<dict>
		<key>DEVICE_UID_REQUIRED</key>
		<dict/>
		<key>AlertTitle</key>
		<string></string>
		<key>AlertMessage</key>
		<string>Device UID is required.</string>
	</dict>
	<dict>
		<key>USER_NOT_FOUND</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>User not found.</string>
		</dict>
	</dict>
	<dict>
		<key>ACCESS_TOKEN_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Facebook access token is required.</string>
		</dict>
	</dict>
	<dict>
		<key>FACEBOOK_DETAILS_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Facebook details are invalid.</string>
		</dict>
	</dict>
	<dict>
		<key>USER_DETAILS_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>User details are invalid.</string>
		</dict>
	</dict>
	<dict>
		<key>FACEBOOK_ACCESS_TOKEN_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Facebook access token is invalid.</string>
		</dict>
	</dict>
	<dict>
		<key>EVENT_TYPE_INVALID_ENTRY</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Event type must be ENTRY or EXIT.</string>
		</dict>
	</dict>
	<dict>
		<key>EVENT_TYPE_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Event type is required.</string>
		</dict>
	</dict>
	<dict>
		<key>REF_EYC_CUSTOMER_ID_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Reference EYC Customer Id is required.</string>
		</dict>
	</dict>
	<dict>
		<key>LOCATION_ID_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Invalid location id provided.</string>
		</dict>
	</dict>
	<dict>
		<key>LONGITUDE_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Longitude is required.</string>
		</dict>
	</dict>
	<dict>
		<key>LATITUDE_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Latitude is required.</string>
		</dict>
	</dict>
	<dict>
		<key>LOCATION_ID_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Location Id is required.</string>
		</dict>
	</dict>
	<dict>
		<key>LOCATION_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Location is required.</string>
		</dict>
	</dict>
	<dict>
		<key>EMAIL_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Email is required.</string>
		</dict>
	</dict>
	<dict>
		<key>LASTNAME_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Lastname is required.</string>
		</dict>
	</dict>
	<dict>
		<key>FIRSTNAME_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Firstname is required.</string>
		</dict>
	</dict>
	<dict>
		<key>PASSWORD_OR_TOKEN_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Either a password or token is required.</string>
		</dict>
	</dict>
	<dict>
		<key>PASSWORD_REQUIRED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Password is required.</string>
		</dict>
	</dict>
	<dict>
		<key>EMAIL_ALREADY_REGISTERED</key>
		<dict>
			<key>AlertTitle</key>
			<string>An account with this email address already exists</string>
			<key>AlertMessage</key>
			<string>Use ‘Forgot Password’ to recover the password of your account</string>
		</dict>
	</dict>
	<dict>
		<key>FACEBOOK_USER_NOT_FOUND</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>There is no existed user with this email.</string>
		</dict>
	</dict>
	<dict>
		<key>PASSWORD_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Invalid password. Password must consist of 8 to 16 characters with at least one uppercase and one lowercase letter.</string>
		</dict>
	</dict>
	<dict>
		<key>GENDER_INVALID_ENTRY</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Gender must be M or F.</string>
		</dict>
	</dict>
	<dict>
		<key>DOB_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Invalid date of birth. You must be of age 13 or older to register.</string>
		</dict>
	</dict>
	<dict>
		<key>EMAIL_INVALID_FORMAT</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Email must conform to valid email format.</string>
		</dict>
	</dict>
	<dict>
		<key>LASTNAME_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Lastname must consist of letters only.</string>
		</dict>
	</dict>
	<dict>
		<key>FIRSTNAME_INVALID</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Firstname must consist of letters only.</string>
		</dict>
	</dict>
	<dict>
		<key>EMAIL_NOT_REGISTERED</key>
		<dict>
			<key>AlertTitle</key>
			<string></string>
			<key>AlertMessage</key>
			<string>Email address is not registered.</string>
		</dict>
	</dict>
	<dict>
		<key>FACEBOOK_USER_ALREADY_REGISTERED</key>
		<dict>
			<key>AlertTitle</key>
			<string>Can not create account</string>
			<key>AlertMessage</key>
			<string>A Bizrate Rewards account is already connected with Facebook. You can go back to the login screen and sign-in via Facebook from there.</string>
		</dict>
	</dict>
</array>
</plist>
